
body{
  font-family: "Josefin Sans", sans-serif;
}

.container{
  max-width: 1096px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  // @include tablets{
  //   max-width: 720px;
  // }
  
}
.top-banner{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
  
  img{
    width: 100%;
    
    object-fit: cover;
    vertical-align: middle;
  }
}
.cats-section{
  background-color:#F6F5F2;
  padding-top: 42px;
  padding-bottom: 62px;
  // background-color: #E3E1D9;
  // background-color: #F8F4EC;
}

.header{
  background-image: url(../img/footer-bg-lg.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;

  padding-top: 44px;
  padding-bottom: 44px;
  border-top: 6px solid #666666;
  border-bottom: 1px solid #666666;
  // margin-top: 2px;
  position: relative;
  &::before{
    content: "";
    position: absolute;
    top: 4px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #666666;
  }
  h1{
    text-align: center;
    font-family: "Mochiy Pop One", sans-serif;
    font-family: "Kiwi Maru", serif;
    font-family: "Yusei Magic", sans-serif;
    font-size: 26px;
    color: #444148;
    // color: #3E3232;
  }
  
}

.banner-content {
  padding: 54px 16px;
  h2{
    text-align: center;
    font-family: "Zen Kaku Gothic Antique", sans-serif;
    margin-bottom: 12px;
    font-size: 18px;
    @include phones{
      font-size: 14px;
      padding-left: 24px;
      padding-right: 24px;
    }
  }
  .banner-icon{
    font-size: 18px;
    color: #d58165;
   
  }
  
}
.flex-jcc{
  display: flex;
  justify-content: center;
}
.cats-box{
  padding-top: 48px;
  padding-bottom: 48px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
  column-gap: 42px;
  row-gap: 62px;
  @include tablets {
    grid-template-columns: repeat(2, 1fr);
  }
  @include phones{
    grid-template-columns: 1fr;
  }
}
  

.cat-card{
  padding: 4px;
  background-color: #fff;
  border: #8a8888 1.5px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 32px;
  border-radius: 8px;
.imgBox{
  width:100%  ;
  height: 350px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;
    // border-radius: 8px 8px 0 0;
    }
  }  
  
}
  
  /* 品種名 */
  
  .name{
    text-align: center;
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 20px;
    
  }
  .btns {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .card-heart{
    display: inline-block;
    color: #b41812;
    // margin-left: 36px;
    vertical-align: middle;
    font-size: 20px;
    cursor: pointer;
    transform: translateX(24px);
  }

  .detailsBtn {
    background-color: #e1ecf4;
    border-radius: 4px;
    border: 1px solid #7aa7c7;
    box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
    color: #39739d;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    line-height: 1.5;
    outline: none;
    padding: 8px 56px;
    text-align: center;
  }
  .detailsBtn:hover,
  .detailsBtn:focus {
    background-color: #b3d3ea;
    color: #2c5777;
  }
  .detailsBtn:focus {
    box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
  }
  
  .detailsBtn:active {
    background-color: #a0c7e4;
    box-shadow: none;
    color: #2c5777;
  }

  
  
  .description {
    color: #666666;
    padding-top: 14px;
    padding-bottom: 14px;
    font-family: "Klee One", cursive;
  }
  
  .description-title,.age-weight-label{
    font-family: "Noto Sans JP", sans-serif;
   
  }
 .description-title{
  padding-bottom: 6px;
  display: inline-block;
 }

  //!名字 產地
.drawer-name-box{
  padding: .5rem 2rem;
  .drawer-name{
      text-align: center;
  }
  .drawer-origin{
      text-align: center;
      span{
          display: inline-block;
          margin-left: 12px;
      }
  }
}
//!體重
.age-weight{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: .5rem 2rem;
  border-top: 1px solid #b8b4b4;
  border-bottom: 1px solid #b8b4b4 ;
  font-family: "Lato", sans-serif;
  .age-weight-data{
      display: flex;
      flex-direction: column;
      
      align-items: center;
  }
  .vertical-line{
      border-left: 1px solid #b8b4b4;
      height: 38px;
  }
  .age-weight-num{
      font-weight: 700;
  }
  .age-weight-label{
      color: #666;
  }
}



/* load btn CSS */
.loadBtn-box{
  display: flex;
  justify-content: center;
}
.button-48 {
  appearance: none;
  background-color: #FFFFFF;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1.5px;
  line-height: 1em;
  margin: 0;
  
  outline: 0;
  padding: 16px 22px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-48:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #DBAFA0;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-48:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48:after {
  background-color: #FFFFFF;
}

.button-48 span {
  z-index: 5;
  position: relative;
  font-family: "Kiwi Maru", serif;
}